.principleButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.delete-icon-button {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1);
    -fx-cursor: hand;
    -fx-padding: 8;
    -fx-min-width: 32;
    -fx-min-height: 32;
}
.delete-icon-button:hover {
    -fx-background-color: #ffecec;
    -fx-border-color: #e74c3c;
}

