
.principleButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.delete-icon-button {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 3, 0, 0, 1);
    -fx-cursor: hand;
    -fx-padding: 5;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-alignment: CENTER;
    -fx-content-display: GRAPHIC_ONLY;
}

.delete-icon-button:hover {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #AAAAAA;
}